@font-face {
    font-family: "Merienda-Bold";
    src: url(../fonts/Merienda-Bold.ttf);
}

@font-face {
    font-family: "Merienda-Regular";
    src: url(../fonts/Merienda-Regular.ttf);
}

@font-face {
    font-family: "SquadaOne";
    src: url(../fonts/SquadaOne-Regular.ttf);
}

@font-face {
    font-family: "Boogaloo";
    src: url(../fonts/Boogaloo-Regular.ttf);
}

@font-face {
    font-family: "Staatliches";
    src: url(../fonts/Staatliches-Regular.ttf);
}

@font-face {
    font-family: "Kalam";
    src: url(../fonts/Kalam-Light.ttf);
}

@font-face {
    font-family: "Satisfy";
    src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "Staatliches";
    src: url(../fonts/Staatliches-Regular.ttf);
}

@font-face {
    font-family: "Kalam";
    src: url(../fonts/Kalam-Light.ttf);
}